In [23]:
import pyspark

In [24]:
import pandas as pd
pd.read_csv("test1.csv")

        Name  age
0    prakhar   21
1  shreyansh   22
2      Rohit   20

In [25]:
from pyspark.sql import SparkSession

In [26]:
spark=SparkSession.builder.appName('practise').getOrCreate()

In [27]:
spark

In [28]:
df_pyspark0=spark.read.csv("test1.csv")

In [29]:
df_pyspark0

DataFrame[_c0: string, _c1: string]

In [30]:
df_pyspark0.show()

+---------+---+
|      _c0|_c1|
+---------+---+
|     Name|age|
|  prakhar| 21|
|shreyansh| 22|
|    Rohit| 20|
+---------+---+

In [31]:
type(df_pyspark0)

pyspark.sql.dataframe.DataFrame

In [32]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [33]:
df_pyspark.show()

+---------+---+
|     Name|age|
+---------+---+
|  prakhar| 21|
|shreyansh| 22|
|    Rohit| 20|
+---------+---+

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.head(3)

[Row(Name='prakhar', age='21'),
 Row(Name='shreyansh', age='22'),
 Row(Name='Rohit', age='20')]

In [37]:
df_pyspark.printSchema()   #like df.info()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)