PySpark Dataframe

Reading The Dataset

Checking the Datatypes of the Column(Schema)

Selecting Columns And Indexing

Check Describe option similar to Pandas

Adding Columns

Dropping columns

Renaming Columns

In [1]:
#build pyspark session

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [4]:
spark

In [5]:
#read the dataset

In [6]:
df_pyspark=spark.read.option('header','true').csv('test2.csv')

In [7]:
df_pyspark

DataFrame[Name: string, age: string, experience: string]

In [8]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|  prakhar| 21|         4|
|shreyansh| 22|         3|
|    Rohit| 20|         1|
+---------+---+----------+

In [9]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- experience: string (nullable = true)

In [10]:
#here all the columns having string data type to tackle this
df_pyspark=spark.read.option('header','true').csv('test2.csv',inferSchema=True)

In [11]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [12]:
df_pyspark=spark.read.csv('test2.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|  prakhar| 21|         4|
|shreyansh| 22|         3|
|    Rohit| 20|         1|
+---------+---+----------+

In [13]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- experience: integer (nullable = true)

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.columns

['Name', 'age', 'experience']

In [16]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [17]:
df_pyspark.select('Name').show()

+---------+
|     Name|
+---------+
|  prakhar|
|shreyansh|
|    Rohit|
+---------+

In [18]:
df_pyspark.select(['Name','experience']).show()

+---------+----------+
|     Name|experience|
+---------+----------+
|  prakhar|         4|
|shreyansh|         3|
|    Rohit|         1|
+---------+----------+

In [19]:
df_pyspark['Name']

Column<'Name'>

In [20]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('experience', 'int')]

In [21]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, age: string, experience: string]

In [22]:
df_pyspark.describe().show()

+-------+---------+----+------------------+
|summary|     Name| age|        experience|
+-------+---------+----+------------------+
|  count|        3|   3|                 3|
|   mean|     NULL|21.0|2.6666666666666665|
| stddev|     NULL| 1.0|1.5275252316519465|
|    min|    Rohit|  20|                 1|
|    max|shreyansh|  22|                 4|
+-------+---------+----+------------------+

In [24]:
#adding columns in dataframe
df_pyspark=df_pyspark.withColumn('experience after 2 year',df_pyspark['experience']+2)

In [25]:
df_pyspark.show()

+---------+---+----------+-----------------------+
|     Name|age|experience|experience after 2 year|
+---------+---+----------+-----------------------+
|  prakhar| 21|         4|                      6|
|shreyansh| 22|         3|                      5|
|    Rohit| 20|         1|                      3|
+---------+---+----------+-----------------------+

In [26]:
#drop the columns
df_pyspark=df_pyspark.drop('experience after 2 year')

In [27]:
df_pyspark

DataFrame[Name: string, age: int, experience: int]

In [28]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|experience|
+---------+---+----------+
|  prakhar| 21|         4|
|shreyansh| 22|         3|
|    Rohit| 20|         1|
+---------+---+----------+

In [29]:
#rename the columns
df_pyspark.withColumnRenamed('Name','New name').show()

+---------+---+----------+
| New name|age|experience|
+---------+---+----------+
|  prakhar| 21|         4|
|shreyansh| 22|         3|
|    Rohit| 20|         1|
+---------+---+----------+