In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('dataframe').getOrCreate()

Pyspark Dataframes

Filter Operation

&,|,==

~

In [2]:
df_spark=spark.read.csv('test3.csv',header=True,inferSchema=True)

In [3]:
df_spark.show()

+---------+----+----------+------+
|     name| age|experience|salary|
+---------+----+----------+------+
|  prakhar|  21|         3|900000|
|sudhanshu|  33|         7| 45000|
|    sunny|  19|         1| 70000|
|     paul|  28|         2| 80000|
|  shubham|  30|         7|850000|
|   harsha|  32|      NULL|200000|
|   mahesh|  53|        20|350000|
|     NULL|NULL|      NULL|  NULL|
|     NULL|  34|        10|  NULL|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [4]:
##filter option

In [7]:
df_spark.filter('salary<=90000').show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|sudhanshu| 33|         7| 45000|
|    sunny| 19|         1| 70000|
|     paul| 28|         2| 80000|
+---------+---+----------+------+

In [8]:
df_spark.filter('salary<=90000').select(['name','age']).show()

+---------+---+
|     name|age|
+---------+---+
|sudhanshu| 33|
|    sunny| 19|
|     paul| 28|
+---------+---+

In [10]:
df_spark.filter((df_spark['salary']<=90000) & (df_spark['salary']>60000)).show()

+-----+---+----------+------+
| name|age|experience|salary|
+-----+---+----------+------+
|sunny| 19|         1| 70000|
| paul| 28|         2| 80000|
+-----+---+----------+------+

In [11]:
df_spark.filter(~((df_spark['salary']<=90000) & (df_spark['salary']>60000))).show()

+---------+---+----------+------+
|     name|age|experience|salary|
+---------+---+----------+------+
|  prakhar| 21|         3|900000|
|sudhanshu| 33|         7| 45000|
|  shubham| 30|         7|850000|
|   harsha| 32|      NULL|200000|
|   mahesh| 53|        20|350000|
+---------+---+----------+------+